[submodule "prebuilts/tools"]
	path = prebuilts/tools
	url = https://android.googlesource.com/platform/prebuilts/tools
[submodule "prebuilts/studio/jdk"]
	path = prebuilts/studio/jdk
	url = https://android.googlesource.com/platform/prebuilts/studio/jdk
[submodule "tools/base"]
	path = tools/base
	url = https://github.com/Iandmee/base_tools.git
[submodule "tools/adt/idea"]
	path = tools/adt/idea
	url = https://android.googlesource.com/platform/tools/adt/idea
[submodule "intellij-community"]
	path = intellij-community
	url = https://github.com/Iandmee/intellij-community.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://android.googlesource.com/platform/external/freetype
[submodule "external/jarjar"]
	path = external/jarjar
	url = https://android.googlesource.com/platform/external/jarjar
[submodule "external/libpng"]
	path = external/libpng
	url = https://android.googlesource.com/platform/external/libpng
[submodule "external/skia"]
	path = external/skia
	url = https://android.googlesource.com/platform/external/skia
[submodule "external/zlib"]
	path = external/zlib
	url = https://android.googlesource.com/platform/external/zlib
[submodule "tools/analytics-library"]
	path = tools/analytics-library
	url = https://android.googlesource.com/platform/tools/analytics-library
[submodule "updated_file_versions_for_prebuilts_tools"]
	path = updated_file_versions_for_prebuilts_tools
	url = https://github.com/Iandmee/updated_file_versions_for_prebuilts_tools.git
